<!DOCTYPE html> 
<html lang='en-US'>
<title> about us </title>
<link rel="icon" type="image/x-icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXfoTMrRcG0YmOLkPpWRG7-4_CPVQRINRl3O06DuGWR7S6GN8SQ4kYwUwxHYbbvCYgwYk&usqp=CAU">
<meta charset="UTF-8">

<head>
    <link rel ="stylesheet" type="text/css"  href="{{url_for('static', filename='idlebot_style.css')}}">
</head>      

<body>
    <div> <h1 id="aboutus"> About Us </h1> </div>
<br>
    <p id="aboutus2"> hello this is the founder of 🌙IdleBot!</p>
        </div>
<br>
<br>
<br>
<br>

<h1 style="font-family:cursive;
color:white;
background:url(https://images.vexels.com/media/users/3/268199/raw/7cc223c11bec62c445029ca7e9e68282-rainbow-smoke-cloud-background-design.jpg);
text-align:center;
border:solid;
border-color:white;
"> 
    About Us🌙
</h1>

<br>

<h2 style="font-family:cursive;
color:white;
background:url(https://cms-assets.tutsplus.com/cdn-cgi/image/width=850/uploads/users/114/posts/33066/image/Paper2.jpg);
text-align:center;
text-align:center;
float:none;
width:500px;
border:solid;
border-color: white"> Idlebot community🌙
</h2>

<p id="aboutus1">
<pre>
The website idle community was made for those who are the world's future scientific prodigies, and
you may use it for a variety of purposes, including chatting with your friends, posting on forums,and more.
Discuss and debate various hypotheses in a group setting. Additionally, because people can debate a wide range of 
scientific topics on this platform and because it is about the cosmos and our universe, now is the greatest moment 
to make science more fun. Additionally, this has potential value since theoretical physicists, scientists, and 
theorists may find great need for this in the future. Additionally, anybody may publish on idle websites.
</pre>
</p> 


<h2 style="background:url(https://wallpaperaccess.com/full/1858884.jpg); 
font-family:cursive;
 color:white;
 border:solid;
 border-color: white;
 float:left;
 width:500px;
 text-align: center;"> About Plagiarism🌙 </h2>

<p id="aboutus4">
    <pre>        what is plagiarism?

        Plagiarism is the deliberate theft of important knowledge from its rightful owners. 
        Plagiarism is the act of representing another person's words or ideas as your own, whether 
        with or without that person's permission, by integrating them into your work without giving them 
        due credit. Any and all works, whether in manuscript, print, or electronic form, published or unpublished
        This term includes all forms. Plagiarism can be willful, careless, or accidental. Plagiarism that is either 
        deliberate or careless is prohibited during tests. </pre>  
</p>
</div>
</body>


</html> 